<div class="alert alert-info">
<ul>
<li>Create a tripple_accident column := the user_time_accident column multiplied by 3.</li>
<li>Create a rides_on_rating column by dividing the user_rides column by user_rating.</li>
<li>Leave only those lines with user_time_accident greater than 25 (using filtering).</li>
<li>Leave only those rows with an age higher than the average value in the resulting table in the previous paragraph.</li>
</ul>

In [1]:
from classes import Paths
import pandas as pd
pd.set_option("display.precision", 2)
pd.set_option("display.max_columns", None)

In [2]:
path = Paths.driver_info
df = pd.read_csv(path)
df

,age,user_rating,user_rides,user_time_accident,user_id,sex,first_ride_date
0,27,9.0,865,19.0,l17437965W,1,2019-4-2
1,46,7.9,2116,11.0,Z12362316j,0,2021-11-19
2,59,7.8,947,4.0,g11098715c,0,2021-1-15
3,37,7.0,18,4.0,U12618125q,0,2019-11-20
4,39,8.2,428,7.0,A14375829B,0,2019-7-23
...,...,...,...,...,...,...,...
15148,19,7.9,52,12.0,R13807707w,1,2019-12-1
15149,40,7.6,1142,3.0,F86199947G,0,2019-1-18
15150,27,7.9,1280,3.0,O10119419p,1,2018-9-16
15151,30,7.9,31,5.0,B35483077Y,0,2019-11-23
15152,18,7.8,83,0.0,S19178709w,1,2019-10-23

In [3]:
tripple_accident = (df['user_time_accident'] * 3)
# display(tripple_accident, type(tripple_accident))

df.insert(loc=len(df.columns), column="tripple_accident", value=tripple_accident, allow_duplicates=True)
df

# df['tripple_accident'] = df['user_time_accident'] * 3
# df

,age,user_rating,user_rides,user_time_accident,user_id,sex,first_ride_date,tripple_accident
0,27,9.0,865,19.0,l17437965W,1,2019-4-2,57.0
1,46,7.9,2116,11.0,Z12362316j,0,2021-11-19,33.0
2,59,7.8,947,4.0,g11098715c,0,2021-1-15,12.0
3,37,7.0,18,4.0,U12618125q,0,2019-11-20,12.0
4,39,8.2,428,7.0,A14375829B,0,2019-7-23,21.0
...,...,...,...,...,...,...,...,...
15148,19,7.9,52,12.0,R13807707w,1,2019-12-1,36.0
15149,40,7.6,1142,3.0,F86199947G,0,2019-1-18,9.0
15150,27,7.9,1280,3.0,O10119419p,1,2018-9-16,9.0
15151,30,7.9,31,5.0,B35483077Y,0,2019-11-23,15.0
15152,18,7.8,83,0.0,S19178709w,1,2019-10-23,0.0

In [4]:
rides_on_rating = (df['user_rides'] / df['user_rating'])
df.insert(loc = len(df.columns),
          column = 'rides_on_rating',
          value=rides_on_rating,
          allow_duplicates=True)
df

,age,user_rating,user_rides,user_time_accident,user_id,sex,first_ride_date,tripple_accident,rides_on_rating
0,27,9.0,865,19.0,l17437965W,1,2019-4-2,57.0,96.11
1,46,7.9,2116,11.0,Z12362316j,0,2021-11-19,33.0,267.85
2,59,7.8,947,4.0,g11098715c,0,2021-1-15,12.0,121.41
3,37,7.0,18,4.0,U12618125q,0,2019-11-20,12.0,2.57
4,39,8.2,428,7.0,A14375829B,0,2019-7-23,21.0,52.20
...,...,...,...,...,...,...,...,...,...
15148,19,7.9,52,12.0,R13807707w,1,2019-12-1,36.0,6.58
15149,40,7.6,1142,3.0,F86199947G,0,2019-1-18,9.0,150.26
15150,27,7.9,1280,3.0,O10119419p,1,2018-9-16,9.0,162.03
15151,30,7.9,31,5.0,B35483077Y,0,2019-11-23,15.0,3.92
15152,18,7.8,83,0.0,S19178709w,1,2019-10-23,0.0,10.64

In [5]:
df = df[df['user_time_accident'] > 25]
df

,age,user_rating,user_rides,user_time_accident,user_id,sex,first_ride_date,tripple_accident,rides_on_rating
77,30,8.5,65,30.0,W80424564S,0,2019-10-27,90.0,7.65
140,39,6.9,1335,70.0,k48302171g,0,2021-4-25,210.0,193.48
149,23,7.7,314,55.0,I19888671U,1,2020-5-5,165.0,40.78
158,39,7.0,996,30.0,X28940247d,0,2019-2-25,90.0,142.29
182,18,7.7,1677,55.0,R15045723u,1,2018-6-4,165.0,217.79
...,...,...,...,...,...,...,...,...,...
15014,18,8.3,707,73.0,Q64425959N,1,2020-8-16,219.0,85.18
15030,32,8.6,305,77.0,b30820267Z,1,2020-5-3,231.0,35.47
15097,31,7.7,1098,29.0,Y19324661a,0,2019-1-28,87.0,142.60
15099,24,8.0,322,65.0,s86446615a,1,2020-5-7,195.0,40.25
15117,34,8.2,1229,28.0,B15998991f,1,2018-10-1,84.0,149.88

In [6]:
df = df[df['age'] > df['age'].mean()]
df

,age,user_rating,user_rides,user_time_accident,user_id,sex,first_ride_date,tripple_accident,rides_on_rating
140,39,6.9,1335,70.0,k48302171g,0,2021-4-25,210.0,193.48
158,39,7.0,996,30.0,X28940247d,0,2019-2-25,90.0,142.29
209,38,8.5,561,29.0,w19194697P,0,2019-6-19,87.0,66.00
323,33,9.1,1021,57.0,x16258550b,0,2019-2-19,171.0,112.20
540,38,8.8,1100,30.0,l20991683L,0,2020-11-27,90.0,125.00
...,...,...,...,...,...,...,...,...,...
14858,34,8.6,724,29.0,X82439152J,0,2020-8-20,87.0,84.19
14860,35,7.8,442,31.0,S92514187N,0,2019-7-20,93.0,56.67
14949,45,7.7,1065,57.0,i81173331n,1,2020-11-19,171.0,138.31
14978,33,8.9,974,32.0,k19209095H,0,2019-2-30,96.0,109.44
15117,34,8.2,1229,28.0,B15998991f,1,2018-10-1,84.0,149.88