In [1]:
from classes import Paths
import pandas as pd

In [2]:
path = Paths.driver_info
df = pd.read_csv(path)
df

,age,user_rating,user_rides,user_time_accident,user_id,sex,first_ride_date
0,27,9.0,865,19.0,l17437965W,1,2019-4-2
1,46,7.9,2116,11.0,Z12362316j,0,2021-11-19
2,59,7.8,947,4.0,g11098715c,0,2021-1-15
3,37,7.0,18,4.0,U12618125q,0,2019-11-20
4,39,8.2,428,7.0,A14375829B,0,2019-7-23
...,...,...,...,...,...,...,...
15148,19,7.9,52,12.0,R13807707w,1,2019-12-1
15149,40,7.6,1142,3.0,F86199947G,0,2019-1-18
15150,27,7.9,1280,3.0,O10119419p,1,2018-9-16
15151,30,7.9,31,5.0,B35483077Y,0,2019-11-23
15152,18,7.8,83,0.0,S19178709w,1,2019-10-23

In [3]:
filt = (
(df['user_time_accident'] > 4.5)
& (df['user_time_accident'] <= 9)
& (df['age'] < 40)
)
df[filt]['user_id'].count()

np.int64(2478)