In [1]:
import numpy as np
import pandas as pd

pd.set_option("display.float_format", "{:,.2f}".format)
pd.set_option("display.max_columns", None)

from classes import Paths

In [2]:
paths = Paths()
path = paths.rides_info
df = pd.read_csv(path)
print(df.shape)
df.head()

(739500, 14)

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal
0,o52317055h,A-1049127W,b1v,2020-01-01,4.95,21,268,36,113.55,0,514.25,0,1.12,2.91
1,H41298704y,A-1049127W,T1U,2020-01-01,6.91,8,59,36,93.00,1,197.52,0,1.65,4.13
2,v88009926E,A-1049127W,g1p,2020-01-02,6.01,20,315,61,81.96,0,"1,276.33",0,2.60,2.46
3,t14229455i,A-1049127W,S1c,2020-01-02,0.26,19,205,32,128.00,0,535.68,0,3.22,0.91
4,W17067612E,A-1049127W,X1b,2020-01-03,1.21,56,554,38,90.00,1,"1,729.14",0,2.72,-1.82

## 1. `.apply()`-method with 1 column

<div class="alert alert-success">

Using the `.apply()` method in Pandas, we can easily apply any functions to existing columns.  
For example, add a flag: "Was the speed of the trip higher than a certain value or not?"
</div>

In [3]:
def my_awesome_function(x):
    if x > 30:
        return "high"
    else:
        return "low"

In [4]:
df['speed_high_low'] = df['speed_avg'].apply(my_awesome_function)
df

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal,speed_high_low
0,o52317055h,A-1049127W,b1v,2020-01-01,4.95,21,268,36,113.55,0,514.25,0,1.12,2.91,high
1,H41298704y,A-1049127W,T1U,2020-01-01,6.91,8,59,36,93.00,1,197.52,0,1.65,4.13,high
2,v88009926E,A-1049127W,g1p,2020-01-02,6.01,20,315,61,81.96,0,"1,276.33",0,2.60,2.46,high
3,t14229455i,A-1049127W,S1c,2020-01-02,0.26,19,205,32,128.00,0,535.68,0,3.22,0.91,high
4,W17067612E,A-1049127W,X1b,2020-01-03,1.21,56,554,38,90.00,1,"1,729.14",0,2.72,-1.82,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739495,I15732675M,z91796444U,m1z,2020-03-30,7.42,164,2290,49,54.59,0,"2,274.77",0,6.14,-39.75,high
739496,r51579957X,z91796444U,t1P,2020-03-30,4.19,26,412,46,73.00,0,515.58,0,6.70,-38.48,high
739497,l15212727I,z91796444U,z1A,2020-03-31,3.40,23,178,37,71.00,1,444.85,0,6.26,-45.08,high
739498,Z78949958q,z91796444U,w1R,2020-04-01,9.02,5,75,48,87.00,1,179.46,0,7.76,-60.19,high
739499,T14594979g,z91796444U,k1R,2020-04-01,5.96,29,344,45,55.00,2,"1,140.45",0,NaN,-50.84,high

In [5]:
df.insert(loc=len(df.columns)
        , column='speed_high_low_2'
        , value=df['speed_avg'].apply(my_awesome_function)
        , allow_duplicates=True)
df.head()

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal,speed_high_low,speed_high_low_2
0,o52317055h,A-1049127W,b1v,2020-01-01,4.95,21,268,36,113.55,0,514.25,0,1.12,2.91,high,high
1,H41298704y,A-1049127W,T1U,2020-01-01,6.91,8,59,36,93.00,1,197.52,0,1.65,4.13,high,high
2,v88009926E,A-1049127W,g1p,2020-01-02,6.01,20,315,61,81.96,0,"1,276.33",0,2.60,2.46,high,high
3,t14229455i,A-1049127W,S1c,2020-01-02,0.26,19,205,32,128.00,0,535.68,0,3.22,0.91,high,high
4,W17067612E,A-1049127W,X1b,2020-01-03,1.21,56,554,38,90.00,1,"1,729.14",0,2.72,-1.82,high,high

In [6]:
tmp = df.copy()
display(tmp.head(10))

for i in range(1,5+1):
    tmp.insert(loc=len(df.columns)
            , column='speed_high_low_2'+str(i)
            , value=tmp['speed_max'].apply(my_awesome_function)+"_"+str(i)
            , allow_duplicates=True)
tmp

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal,speed_high_low,speed_high_low_2
0,o52317055h,A-1049127W,b1v,2020-01-01,4.95,21,268,36,113.55,0,514.25,0,1.12,2.91,high,high
1,H41298704y,A-1049127W,T1U,2020-01-01,6.91,8,59,36,93.00,1,197.52,0,1.65,4.13,high,high
2,v88009926E,A-1049127W,g1p,2020-01-02,6.01,20,315,61,81.96,0,"1,276.33",0,2.60,2.46,high,high
3,t14229455i,A-1049127W,S1c,2020-01-02,0.26,19,205,32,128.00,0,535.68,0,3.22,0.91,high,high
4,W17067612E,A-1049127W,X1b,2020-01-03,1.21,56,554,38,90.00,1,"1,729.14",0,2.72,-1.82,high,high
5,I45176130J,A-1049127W,j1v,2020-01-03,7.52,67,1068,28,36.00,2,363.21,0,0.50,-3.44,low,low
6,W11562554A,A-1049127W,A1g,2020-01-04,5.78,30,324,48,61.00,0,"1,314.26",0,1.46,-6.00,high,high
7,o13713369s,A-1049127W,B1n,2020-01-04,7.35,29,401,57,65.85,0,"1,753.89",0,0.50,-6.47,high,high
8,y62286141d,A-1049127W,h1a,2020-01-05,0.12,64,893,38,114.00,1,"2,022.13",0,-0.16,-5.12,high,high
9,V28486769l,A-1049127W,p1e,2020-01-05,3.32,43,424,31,51.30,1,"1,334.57",0,-3.76,-2.08,high,high

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal,speed_high_low,speed_high_low_2,speed_high_low_25,speed_high_low_24,speed_high_low_23,speed_high_low_22,speed_high_low_21
0,o52317055h,A-1049127W,b1v,2020-01-01,4.95,21,268,36,113.55,0,514.25,0,1.12,2.91,high,high,high_5,high_4,high_3,high_2,high_1
1,H41298704y,A-1049127W,T1U,2020-01-01,6.91,8,59,36,93.00,1,197.52,0,1.65,4.13,high,high,high_5,high_4,high_3,high_2,high_1
2,v88009926E,A-1049127W,g1p,2020-01-02,6.01,20,315,61,81.96,0,"1,276.33",0,2.60,2.46,high,high,high_5,high_4,high_3,high_2,high_1
3,t14229455i,A-1049127W,S1c,2020-01-02,0.26,19,205,32,128.00,0,535.68,0,3.22,0.91,high,high,high_5,high_4,high_3,high_2,high_1
4,W17067612E,A-1049127W,X1b,2020-01-03,1.21,56,554,38,90.00,1,"1,729.14",0,2.72,-1.82,high,high,high_5,high_4,high_3,high_2,high_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739495,I15732675M,z91796444U,m1z,2020-03-30,7.42,164,2290,49,54.59,0,"2,274.77",0,6.14,-39.75,high,high,high_5,high_4,high_3,high_2,high_1
739496,r51579957X,z91796444U,t1P,2020-03-30,4.19,26,412,46,73.00,0,515.58,0,6.70,-38.48,high,high,high_5,high_4,high_3,high_2,high_1
739497,l15212727I,z91796444U,z1A,2020-03-31,3.40,23,178,37,71.00,1,444.85,0,6.26,-45.08,high,high,high_5,high_4,high_3,high_2,high_1
739498,Z78949958q,z91796444U,w1R,2020-04-01,9.02,5,75,48,87.00,1,179.46,0,7.76,-60.19,high,high,high_5,high_4,high_3,high_2,high_1
739499,T14594979g,z91796444U,k1R,2020-04-01,5.96,29,344,45,55.00,2,"1,140.45",0,NaN,-50.84,high,high,high_5,high_4,high_3,high_2,high_1

<div class="alert alert-success">

To make the code more elegant, we can define functions using a lambda function.
</div>

In [7]:
# Define lambda function with ternary operator inside
my_awesome_function = lambda x: 'more_30' if x > 30 else 'no_more_30'

# Apply function to column
df['speed_avg_greater_30'] = df['speed_avg'].apply(my_awesome_function)

# See the result
df['speed_avg_greater_30'].value_counts()

speed_avg_greater_30
more_30       699420
no_more_30     40080
Name: count, dtype: int64

In [8]:
df.insert(loc=len(df.columns)
        , column='speed_avg_greater_30_2'
        , value=df['speed_avg'].apply(my_awesome_function)
        , allow_duplicates=True)
df['speed_avg_greater_30'].value_counts()

speed_avg_greater_30
more_30       699420
no_more_30     40080
Name: count, dtype: int64

In [9]:
df.head()

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal,speed_high_low,speed_high_low_2,speed_avg_greater_30,speed_avg_greater_30_2
0,o52317055h,A-1049127W,b1v,2020-01-01,4.95,21,268,36,113.55,0,514.25,0,1.12,2.91,high,high,more_30,more_30
1,H41298704y,A-1049127W,T1U,2020-01-01,6.91,8,59,36,93.00,1,197.52,0,1.65,4.13,high,high,more_30,more_30
2,v88009926E,A-1049127W,g1p,2020-01-02,6.01,20,315,61,81.96,0,"1,276.33",0,2.60,2.46,high,high,more_30,more_30
3,t14229455i,A-1049127W,S1c,2020-01-02,0.26,19,205,32,128.00,0,535.68,0,3.22,0.91,high,high,more_30,more_30
4,W17067612E,A-1049127W,X1b,2020-01-03,1.21,56,554,38,90.00,1,"1,729.14",0,2.72,-1.82,high,high,more_30,more_30

## 2. `.apply()`-method with 2 and more columns

<div class="alert alert-success">

We can write a function to apply to multiple columns at once. Then we will be able to generate features depending on several features at once.  
In this case, it is important not to forget to specify which axis the function will be applied to in the `axis` parameter.
</div>

In [10]:
def a_div_b(x):
    return x['speed_avg'] / x['speed_max']
df['avg_over_max'] = df.apply(a_div_b, axis=1)
df.head()

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal,speed_high_low,speed_high_low_2,speed_avg_greater_30,speed_avg_greater_30_2,avg_over_max
0,o52317055h,A-1049127W,b1v,2020-01-01,4.95,21,268,36,113.55,0,514.25,0,1.12,2.91,high,high,more_30,more_30,0.32
1,H41298704y,A-1049127W,T1U,2020-01-01,6.91,8,59,36,93.00,1,197.52,0,1.65,4.13,high,high,more_30,more_30,0.39
2,v88009926E,A-1049127W,g1p,2020-01-02,6.01,20,315,61,81.96,0,"1,276.33",0,2.60,2.46,high,high,more_30,more_30,0.74
3,t14229455i,A-1049127W,S1c,2020-01-02,0.26,19,205,32,128.00,0,535.68,0,3.22,0.91,high,high,more_30,more_30,0.25
4,W17067612E,A-1049127W,X1b,2020-01-03,1.21,56,554,38,90.00,1,"1,729.14",0,2.72,-1.82,high,high,more_30,more_30,0.42

In [11]:
df.insert(loc=len(df.columns)
          , column = 'avg_over_max_2'
          , value=df.apply(a_div_b, axis=1)
          , allow_duplicates=True)
df.head()

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal,speed_high_low,speed_high_low_2,speed_avg_greater_30,speed_avg_greater_30_2,avg_over_max,avg_over_max_2
0,o52317055h,A-1049127W,b1v,2020-01-01,4.95,21,268,36,113.55,0,514.25,0,1.12,2.91,high,high,more_30,more_30,0.32,0.32
1,H41298704y,A-1049127W,T1U,2020-01-01,6.91,8,59,36,93.00,1,197.52,0,1.65,4.13,high,high,more_30,more_30,0.39,0.39
2,v88009926E,A-1049127W,g1p,2020-01-02,6.01,20,315,61,81.96,0,"1,276.33",0,2.60,2.46,high,high,more_30,more_30,0.74,0.74
3,t14229455i,A-1049127W,S1c,2020-01-02,0.26,19,205,32,128.00,0,535.68,0,3.22,0.91,high,high,more_30,more_30,0.25,0.25
4,W17067612E,A-1049127W,X1b,2020-01-03,1.21,56,554,38,90.00,1,"1,729.14",0,2.72,-1.82,high,high,more_30,more_30,0.42,0.42

In [12]:
path = paths.apply_practice_sample
df = pd.read_csv(path)
df.head()

      user_id  rating  speed_max  ride_cost  true_final_ride_cost
0  J19512539T    6.73      78.00       4934                  4687
1  B22315336q    7.46      72.00        235                   223
2  y82944196A    4.86     168.18      63835                 67026
3  G66226901h    7.70      74.00        780                   741
4  V24342105N    1.09     127.00        891                   935

<div class="alert alert-warning">

**Task:**

Create a new `final_ride_cost` column in `df`, which will depend on the `rating` and maximum speed (`speed_max`) of the trip. The values in this column will vary depending on two conditions:

If the rating is higher than 6 and the maximum speed of the trip is less than 120 km/h, then reduce the cost of the trip (`ride_cost`) by 5%.

Otherwise: increase the cost of the trip (`ride_ost`) by 5%.

In the new `final_ride_cost` column, discard the fractional part of the values, leaving only the integer part. Since the cost is measured in rubles, the fractional part does not matter.
</div>

In [13]:
def calc_new_ride_cost(x):
    if x["rating"] > 6 and x["speed_max"] < 120:
        final_cost = x["ride_cost"] * 0.95
    else:
        final_cost = x["ride_cost"] * 1.05
    return int(final_cost)

df['final_ride_cost'] = df.apply(calc_new_ride_cost, axis=1)
df.head()

,user_id,rating,speed_max,ride_cost,true_final_ride_cost,final_ride_cost
0,J19512539T,6.73,78.00,4934,4687,4687
1,B22315336q,7.46,72.00,235,223,223
2,y82944196A,4.86,168.18,63835,67026,67026
3,G66226901h,7.70,74.00,780,741,741
4,V24342105N,1.09,127.00,891,935,935